$def with (endpoints, title_2_link_n_href)

<html>
<style type="text/css">
  body {
    font-family: Arial;
    margin: 30px;
  }
  h1 {color: blue;}
  h3 {color: blue;}
</style>
<body>

<!--
API Endpoints:
<ul>
$for e in endpoints:
    <li><a href="$e">$e</a></li>
</ul>
-->

<h1>API Endpoints</h1>

<p>
  All endpoints are GETs and return JSON.
</p>

$for title in dict.keys(title_2_link_n_href):
    <h3>$title</h3>
    <ul>
      $for (end, href) in title_2_link_n_href[title]:
          <li><a href="$href">$end</a></li>
    </ul>

</body>
</html>
