$def with ()

<html>
  <head>
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <title>CMS :: Home</title>
  </head>

  <body>

    <div class="header">
      <img src="/static/ea.png" />
      <h1>Home</h1>
    </div>

    <a href="/api">API</a>

    <h3>USP quotes</h3>
    <ul>
      <li><a href="/ui/usp_quotes/BF4">BF4</a></li>
      <li><a href="/ui/usp_quotes/Sports">Sports</a></li>
      <!--
      <li><a href="/ui/usp_quotes/sports/NBA">NBA</a></li>
      <li><a href="/ui/usp_quotes/sports/FIFA">FIFA</a></li>
      <li><a href="/ui/usp_quotes/sports/Madden">Madden</a></li>
      <li><a href="/ui/usp_quotes/sports/UFC">UFC</a></li>
      -->
    </ul>

    <h3>Show Messages</h3>
    <ul>
      <li><a href="/ui/messages/EA">EA</a></li>
      <li><a href="/ui/messages/PvZ">PvZ</a></li>
    </ul>

    <h3>Statistics</h3>
    <ul>
      <li><a href="/ui/stats/nfs">NFS stats</a></li>
      <li><a href="/ui/stats/origin">Origin highlights</a></li>
    </ul>

  </body>
</html>
