body {
    font-family: Arial;
    margin: 30px;
}

.header {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.header img {
    width: 180px;
    margin-right: 20px;
    float: left;
}

.header h1 {
}

h1 { color: blue; }
h2 { color: blue; }
h3 { color: blue; }

/*----*/

.wrong {
    color: red;
    margin-left: 5px;
}

/* this doesn't work */
th {
    align: right;
}

textarea {
    width: 500px;
    height: 70px;
}

.vert_spacer {
    height: 10px;
}

/*----*/

div.row {
    width: 100%;
    margin-bottom: 15px;
}

input.delete {
    float: left;
    width: 60px;
    margin-right: 20px;
}

img.profile_pic {
    float: left;
    width: 60px;
    margin-right: 20px;
}

span.profile_name {
    float: left;
    width: 150px;
    margin-right: 20px;
}

div.quote_text {
    float: left;
    width: 450px;
}

/*----*/

div.stats {
    float: left;
    width: 100px;
    margin-right: 20px;
}

div.games_today {
    float: left;
}
