$def with ()

<html>
  <head>
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <title>CMS :: Home</title>
  </head>

  <body>

    <div class="header">
      <h1>Home</h1>
    </div>

    <h3>Session</h3>

    <form method="POST" action="/logout">
      <input type="submit" value="Logout" />
    </form>

    <h3>Caching</h3>

    <form method="POST" action="/ui/caching/clear">
      <input id="clear_btn" type="submit" value="Clear Cache" />
    </form>

    <form method="POST" action="/ui/caching/prefetch">
      <input type="submit" value="Prefetch" />
    </form>

    <h3>API</h3>
    <ul>
      <li><a href="/api">API</a></li>
    </ul>

    <h3>USP quotes</h3>
    <ul>
      <li><a href="/ui/usp_quotes/BF4">BF4</a></li>
      <li><a href="/ui/usp_quotes/Sports">Sports</a></li>
    </ul>

    <h3>Show Messages</h3>
    <ul>
      <li><a href="/ui/messages/pvz">PvZ</a> -- appear on regular schedule</li>
    </ul>

    <h3>Statistics</h3>
    <ul>
      <li><a href="/ui/stats/nfs">NFS stats</a>
      <li><a href="/ui/stats/origin">Origin highlights</a></li>
    </ul>

  </body>
</html>
