$def with (is_prefetching_on, counter)

<html>
  <head>
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <title>CMS :: Home</title>
  </head>

  <body>

    <div class="header">
      <img src="/static/ea.jpeg" />
      <h1>Home</h1>
    </div>

    <h3>Caching</h3>

    <form method="POST" action="/ui/caching/clear">
      <input id="clear_btn" type="submit" value="Clear Cache" />
    </form>

    $if is_prefetching_on:
      <div id="is_on" style="display:block;">
        <span>Prefetching is on.</span>
        <div>counter: $counter</div>
      </div>
    $else:
      <form method="POST" action="/ui/prefetching/start"
	    onsubmit="document.getElementById('on_btn').disabled=true;
                      document.getElementById('is_on').style.display='block';">
        <input id="on_btn" type="submit" value="Turn On" />
      </form>
      <div id="is_on" style="display:none;">
        <span>Prefetching is on.</span>
        <div>counter: $counter</div>
      </div>
    
    <h3>API</h3>
    <ul>
      <li><a href="/api">API</a></li>
    </ul>

    <h3>USP quotes</h3>
    <ul>
      <li><a href="/ui/usp_quotes/BF4">BF4</a></li>
      <li><a href="/ui/usp_quotes/Sports">Sports</a></li>
    </ul>

    <h3>Show Messages</h3>
    <ul>
      <li><a href="/ui/show/messages">Show Messages (any brand)</a></li>
    </ul>

    <h3>Statistics</h3>
    <ul>
      <li><a href="/ui/stats/nfs">NFS stats</a>
      <li><a href="/ui/stats/origin">Origin highlights</a></li>
    </ul>

  </body>
</html>
