$def with (messages, form, now_datetime)

  $def just_messages(name, msgs):

    <div class="vert_spacer"></div>

    <h4>$name Messages</h4>

    $if not msgs:
      <span>There are none.</span>

    $else:
      <!-- header -->
      <div class="row">
	<div class="stats hd">&nbsp;</div>
	<div class="stats hd message">Message</div>
	<div class="stats hd">Brand</div>
	<div class="stats hd secs">Delay (in secs)</div>
	<div class="stats hd secs">Duration (in secs)</div>
	<div class="stats hd timestamp">Created At</div>
	<div class="stats hd timestamp">Desired Start Time</div>
	<br style="clear: left;" />
      </div>
      
      <!-- body -->
      $for m in msgs:
        <div class="row">
	  <div class="stats delete">
	    <form method="POST" action="/ui/show/message/$m['_id']">
	      <input type="submit" value="Delete" />
	    </form>
	  </div>
	  <div class="stats message">$m['text']</div>
	  <div class="stats">$m['brand']</div>
	  <div class="stats secs">$m['delay_secs']</div>
	  <div class="stats secs">$m['duration_secs']</div>
	  <div class="stats timestamp">$m['created_at'].strftime('%b %d %H:%M:%S')</div>
	  <div class="stats timestamp">$m['desired_start_time'].strftime('%b %d %H:%M:%S')</div>
	  <br style="clear: left;" />
	</div>


<html>
  <head>
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <title>Messages</title>
  </head>

  <body>

    <div class="header">
      <a href="/"><img src="/static/ea.jpeg" /></a>
      <h1>Messages</h1>
    </div>

    <!-- form for adding new messages -->

    <h3>Add New Message</h3>

    <form name="main" method="post">
      $if not form.valid:
        <p>Oops!  Please fix your input and retry.</p>
      $:form.render()
        <input type="submit" />
    </form>

    <div class="vert_spacer"></div>

    <!-- list of previous stats (not strictly necessary) -->

    <div>
      <span>LA Time (as of page load): $now_datetime.strftime('%b %d %H:%M:%S')</span>
    </div>

    <div class="vert_spacer"></div>

    <h3>Previously Entered Messages</h3>

    $:just_messages('Active', messages['active'])
    $:just_messages('Future', messages['future'])
    $:just_messages('Expired', messages['expired'])

  </body>
</html>
