$def with (stats_list, form)

<html>
  <head>
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <title>Origin Highlights</title>
  </head>

  <body>

    <div class="header">
      <a href="/"><img src="/static/ea.jpeg" /></a>
      <h1>Origin Highlights</h1>
    </div>

    <!-- form for adding new stats -->

    <h3>Add New Data</h3>

    <form name="main" method="post">
      $if not form.valid:
        <p>Oops!  Please fix your input and retry.</p>
      $:form.render()
        <input type="submit" />
    </form>

    <div class="vert_spacer"></div>

    <!-- list of previous stats (not strictly necessary) -->

    <h3>Previous Data</h3>

    $if not stats_list:
      <span>There are none.</span>
    $else:
      <!-- header -->
      <div class="row">
	<div class="stats">logins</div>
	<div class="stats">gamers</div>
	<div class="stats games">games today</div>
	<br style="clear: left;" />
      </div>
      
      <!-- body -->
      $for st in stats_list:
        <div class="row">
	  <div class="stats">$st['logins']</div>
	  <div class="stats">$st['gamers']</div>
	  <div class="stats games_today">$st['games_today']</div>
	  <br style="clear: left;" />
	</div>

  </body>
</html>
