$def with (messages, form)

  $code:
    def bobo(dico, key):
        if key in dico:
            return dico[key]
        else:
            return ''

<html>
  <head>
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <title>Messages :: PvZ</title>
  </head>

  <body>

    <div class="header">
      <a href="/"><< Home</a>
      <h1>Messages :: PvZ</h1>
    </div>

    <!-- form for adding new messages -->

    <h3>Add New Message</h3>

    <form name="main" method="post">
      $if not form.valid:
        <p>Oops!  Please fix your input and retry.</p>
      $:form.render()
        <input type="submit" />
    </form>

    <div class="vert_spacer"></div>

    <!-- list of previous stats (not strictly necessary) -->

    <h3>Previously Entered Messages</h3>

    <div>
      $if not messages:
        <span>There are none.</span>

      $else:
	<div class="row">
	  <div class="stats hd">&nbsp;</div>
	  <div class="stats hd message">Text</div>
	  <div class="stats hd message">Code</div>
	  <br style="clear: left;" />
	</div>

	$for m in messages:
  	  <div class="row">
	    <div class="stats delete">
	      <form method="POST" action="/ui/message/pvz/$m['_id']">
		<input type="submit" value="Delete" />
	      </form>
	    </div>
	    <div class="stats message">$m['text']</div>
	    <div class="stats message">$bobo(m, 'cta')</div>
	    <br style="clear: left;" />
	  </div>
    </div>

  </body>
</html>
