$def with (brand, usp, quotes, form)

  $code:
    def bobo(dico, key):
        if key in dico:
             return bool(dico[key])
        else:
             return False

<html>
  <head>
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
    <title>USP Quotes :: $brand :: $usp</title>
  </head>

  <body>

    <div class="header">
      <a href="/"><< Home</a>
      <h1>USP Quotes :: $brand :: $usp</h1>
    </div>

    <h3>Add a Quote</h3>

    <form name="main" method="post">
      $if not form.valid:
        <p>Oops!  Please fix your input and retry.</p>
      $:form.render()
        <input type="submit" />
    </form>

    <div class="vert_spacer"></div>

    <h3>Current Quotes</h3>

    $if not quotes:
      <span>You have none.</span>
    $else:
      <!-- header -->
      <div class="row">
	<div class="stats hd">&nbsp;</div>
	<div class="stats hd">Is tweet?</div>
	<div class="stats hd">Image</div>
	<div class="stats hd name">Name</div>
	<div class="stats hd message">Text</div>
	<br style="clear: left;" />
      </div>

      <form name="other" method="post">
	<input type="hidden" name="delete_id" id="xx" value=""/>
	$for q in quotes:
          <div class="row">
	    <div class="stats">
	      <input type="submit" name="delete"
		     onclick="document.getElementById('xx').value = '$q['_id']'"
		     class="delete" value="Delete"
		     />
	    </div>
	    <div class="stats">$bobo(q, 'is_tweet')</div>
	    <div class="stats"><img style="width:60px" src="$q['image']" /></div>
	    <div class="stats name">$q['name']</div>
	    <div class="stats message">"$q['text']"</div>
	    <br style="clear: left;" />
	  </div>
    </form>

  </body>
</html>
